
#navflex{
    font-size: 20px;
    transition-property: all;
}

/* #navbar-home{
   text-decoration: none;
    transition-duration: 0.8s;  
    transition-duration: 0.5s 1s;
    &:hover {
        font-size: 22px;
        text-decoration: underline;
       
        color:aqua;
        font-weight: bold;
       
    }
} */

#navbar-home{
position: relative;
transition: all .4s;
text-decoration: none;

}
#navbar-home::after{
content: '';
width: 100%;
height: 3px;
background: #0ef;
left: 0;
bottom: -25px;
position: absolute;
opacity: 0;
transition: all .2s;
pointer-events: none;

}
#navbar-home:hover::after,
#navbar-home:focus::after,#navbar-home:hover{
    opacity: 1;
    color: #0ef;
}
#resume:hover{
    box-shadow: 0 0 20px #0ef;
    background-color: #0ef;
}